<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>My Blix Application</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- CSS  -->
  <%= asset_tag('/assets/application.css') %>

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <!-- Add your site or application content here -->

  <%= yield %>

  <!--  Scripts-->
  <script>
    rootUrl="<%= full_path('/')%>";
  </script>
  {%- if vuebasic %}
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  {%- endif %}
  <%= asset_tag('/assets/application.js') %>



</body>

</html>
